{{ form_start(form) }}
    <div class="form-group" style="width: 250%;">
        {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group" style="width: 250%;">
        {{ form_row(form.nbr_personne, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group" style="width: 250%;">
        {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group" style="width: 250%;">
        {{ form_row(form.evenement, {'attr': {'class': 'form-control'}}) }}
    </div>
    <!-- Ajoutez les autres champs de formulaire ici -->
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
